header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}
header a {
    background-image: url("../images/logo.png");
    margin-left: 20px;
    display: block;
    width: 140px;
    height: 60px;
    background-size: contain;
}