.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    align-content: center;
    right: 30px;
    top: 15%;
    position: absolute;
    transition: 0.5s;
}
button:hover {
    opacity: 90%;
}
.locations h3,
.amenities h3 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.locations h4,
.amenities h4{
    top: 15%;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.locations {
    border-right: 1px solid #DDDDDD;
    display: grid;
    place-content: center;
}
.amenities{
    margin-right: auto;
    display: grid;
    place-content: center;
}
.locations, .amenities {
    height: 100%;
    width: 25%;
    position: relative;
}

.locations:hover .popover,
.amenities:hover .popover{
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    display: block;
    place-content: center;
}
.popover {
    position: absolute;
    width: 100%;
    top: 100%;
    display: none;
    padding-bottom: 20px;
}
ul li{
    list-style: none;
}
h2{
    margin-bottom: 5px;
}